# Q-1.Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
#importing the necessary libraries

import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.maximize_window()

time.sleep(2)

#creating the empty list
Name=[]
Artist=[]
Upload=[]
Views=[]

#scraping Song Name
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]"):
    Name.append(i.text.split('"')[1])

#scraping Artist name
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]"):
    Artist.append(i.text.split('[')[0])

#scraping the No of Views
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]"):
    Views.append(i.text)

#scraping the Uploaded date
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]"):
    Upload.append(i.text)
    
Yotube={'Name':Name,'Artist':Artist,'Uploaded Date':Upload,'Views':Views}
df=pd.DataFrame(data=Yotube)
df

,Name,Artist,Uploaded Date,Views
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","7,046,700,000"
1,Despacito,Luis Fonsi,"January 12, 2017","3,002,800,000"
2,See You Again,Wiz Khalifa,"April 6, 2015","2,894,000,000"
3,Gangnam Style,Psy,"July 15, 2012","803,700,000"
4,Baby,Justin Bieber,"February 19, 2010","245,400,000"
5,Bad Romance,Lady Gaga,"November 24, 2009","178,400,000"
6,Charlie Bit My Finger,HDCYT,"May 22, 2007","128,900,000"
7,Evolution of Dance,Judson Laipply,"April 6, 2006","118,900,000"
8,Girlfriend,RCA Records,"February 27, 2007","92,600,000"
9,Evolution of Dance,Judson Laipply,"April 6, 2006","78,400,000"
10,Music Is My Hot Hot Sex,CLARUSBARTEL72,"April 9, 2007","76,600,000"
11,Evolution of Dance,Judson Laipply,"April 6, 2006","10,600,000"
12,Pokemon Theme Music Video,Smosh,"November 28, 2005","4,300,000"
13,Myspace – The Movie,eggtea,"January 31, 2006","2,700,000"
14,Phony Photo Booth,mugenized,"December 1, 2005","3,400,000"
15,The Chronic of Narnia Rap,youtubedude,"December 18, 2005","2,300,000"
16,Ronaldinho: Touch of Gold,Nikesoccer,"October 21, 2005","255,000"
17,I/O Brush,larfus,"October 5, 2005","247,000"
18,Me at the zoo,jawed,"April 23, 2005",1

# Q-2.Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [3]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get("https://www.bcci.tv")
driver.maximize_window()

time.sleep(5)

#clicking on International tab
driver.find_element(By.XPATH,'//*[@id="navigation"]/ul[1]/li[2]/a').click()

time.sleep(1)
#creating the empty list
Title=[]
Series=[]
Place=[]
Date=[]
Time=[]

#scraping the Title Name
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
    Title.append(i.text)

#scraping the series name
for i in driver.find_elements(By.XPATH,'//div[@class="fixture-card-mid d-flex align-items-center justify-content-between"]'):
    Series.append(i.text.replace('\n',' '))

#scraping the place
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
    Place.append(i.text)
    
#scraping the date
for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
    Date.append(i.text)

#scraping the time
for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
    Time.append(i.text)
    
#creating the DataFrame
bcci={'Title':Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time}
df=pd.DataFrame(data=bcci)
print('Team India International Fixtures')
df

Team India International Fixtures

,Title,Series,Place,Date,Time
0,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,India vs South Africa,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,6 OCT 2022,1:30 PM IST
1,ASIA CUP WOMENS 2022,India Women vs Pakistan Women,"Sylhet International Cricket Stadium,",7 OCT 2022,1:00 PM IST
2,ASIA CUP WOMENS 2022,India Women vs Bangladesh Women,"Sylhet International Cricket Stadium,",8 OCT 2022,1:00 PM IST
3,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,India vs South Africa,"JSCA International Stadium Complex,",9 OCT 2022,1:30 PM IST
4,ASIA CUP WOMENS 2022,India Women vs Thailand Women,"Sylhet International Cricket Stadium,",10 OCT 2022,1:00 PM IST
5,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,India vs South Africa,"Arun Jaitley Stadium,",11 OCT 2022,1:30 PM IST

# Q-3.Scrape the details of selenium exception from guru99.com.                     Url = https://www.guru99.com
You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [4]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get("https://www.guru99.com/")
driver.maximize_window()

time.sleep(2)

In [5]:
#clicking on selenium tutorial
driver.find_element(By.XPATH,"//*[@id='java_technologies']/li[3]/a").click()

In [6]:
#clicking on Selenium exceptions
driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a").click()

In [7]:
#creating the empty list
Name=[]
Description=[]

#scraping for name   
for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]'):
    Name.append(i.text.split(':')[0])
    
#scraping the description
for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]'):
    Description.append(i.text.split(':')[1])
    
time.sleep(1)
#creating the dataframe
selenium={'Name':Name,'Description':Description}
df=pd.DataFrame(data=selenium)
print('List of Selenium Exceptions')
df

List of Selenium Exceptions

,Name,Description
0,1. ElementNotVisibleException,This type of Selenium exception occurs when a...

 !! theres no class name so couldnot scrapped all exceptions

# Q-4.Scrape the details of State-wise GDP of India from statisticstime.com.      Url = http://statisticstimes.com

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [8]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#maximising the window
driver.maximize_window()
#Opening target url page on automated chrome browser
driver.get("http://statisticstimes.com/")


time.sleep(2)

In [9]:
#getting to the Indian page under economy tab
page=driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]")
driver.get(page.get_attribute('href'))

#clicking on GDP of indian states
driver.find_element(By.XPATH,"//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a").click()

#creating the empty list
Rank=[]
state=[]
GSDP1=[]
GSDP2=[]
share=[]
GDP=[]

#scraping for name
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[1]"):
    Rank.append(i.text)

#scraping for state name
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[2]"):
    state.append(i.text)

#scraping for GSDP1
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[3]"):
    GSDP1.append(i.text)

#scraping for GSDP1
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]"):
    GSDP2.append(i.text)
    
#scraping for share
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]"):
    share.append(i.text)
    
#scraping for GDP
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]"):
    GDP.append(i.text)
    
time.sleep(1)
#creating the DataFrame
gdp_State={'Rank':Rank,'State':state,'GSDP 19-20':GSDP1,'GSDP 18-19':GSDP2,'Share 18-19':share,'GDP':GDP}
df=pd.DataFrame(data=gdp_State)
print ('State-wise GDP of India from www.statisticstime.com')
df

State-wise GDP of India from www.statisticstime.com

   Rank                      State GSDP 19-20 GSDP 18-19 Share 18-19      GDP
0     1                Maharashtra          -  2,632,792      13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208       8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764       8.39%  240.726
3     4                    Gujarat          -  1,502,899       7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127       7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898       5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586       4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957       4.57%  131.083
8     9                  Telangana    969,604    861,031       4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592       4.29%  122.977
10   11                     Kerala          -    781,653       4.14%  118.733
11   12                      Delhi    856,112    774,870       4.10%  117.703
12   13                    Haryana    831,610    734,163       3.89%  111.519
13   14                      Bihar    611,804    530,363       2.81%   80.562
14   15                     Punjab    574,760    526,376       2.79%   79.957
15   16                     Odisha    521,275    487,805       2.58%   74.098
16   17                      Assam          -    315,881       1.67%   47.982
17   18               Chhattisgarh    329,180    304,063       1.61%   46.187
18   19                  Jharkhand    328,598    297,204       1.57%   45.145
19   20                Uttarakhand          -    245,895       1.30%   37.351
20   21            Jammu & Kashmir          -    155,956       0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845       0.81%   23.369
22   23                        Goa     80,449     73,170       0.39%   11.115
23   24                    Tripura     55,984     49,845       0.26%    7.571
24   25                 Chandigarh          -     42,114       0.22%    6.397
25   26                 Puducherry     38,253     34,433       0.18%    5.230
26   27                  Meghalaya     36,572     33,481       0.18%    5.086
27   28                     Sikkim     32,496     28,723       0.15%    4.363
28   29                    Manipur     31,790     27,870       0.15%    4.233
29   30                   Nagaland          -     27,283       0.14%    4.144
30   31          Arunachal Pradesh          -     24,603       0.13%    3.737
31   32                    Mizoram     26,503     22,287       0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -           -        -

# Q-5.Scrape the details of trending repositories on Github.com.                      Url = https://github.com/
You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [10]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://github.com/')
driver.maximize_window()

#click opensource button
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()

#click trending
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a').click()

In [11]:
url_list=[]
url=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']/a")

for i in url[:]:
    url_list.append(i.get_attribute('href'))
time.sleep(10)
#creating empty list
name=[]
url=[]
description=[]
count=[]
language=[]

for i in url_list:
    driver.get(i)
# scraping repositry name
rep_name = driver.find_elements(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]')# xpath for brand
for i in rep_name:
        name.append(i.text) # saving in the list 

        time.sleep(1)
# scraping description
rep_description = driver.find_elements(By.XPATH,'//p[@class="f4 my-3"]') # xpath for description
for i in rep_description:
        try:
            description.append(i.text)# saving in the list
        except:
            description.append("_")
            
            time.sleep(1)
# scraping contribution count
rep_count = driver.find_elements(By.XPATH,'/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[5]/div/h2/a/span')# xpath for price
for i in rep_count:
        try:
            count.append(i.text)# saving in the list
        except:
            count.append("_")
            
            time.sleep(1)
# scraping Language
rep_language = driver.find_elements(By.XPATH,"/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[6]/div/ul")# xpath for price
for i in rep_count:
        try:
            language.append(i.text)# saving in the list
        except:
            landuage.append("_")
time.sleep(5)

# saving the lists as dataframe
df=pd.DataFrame({"Name":rep_name,"Description":rep_description,"Contributor":rep_count,"Language":rep_language})
print('Trending repositories on Github')
df

ValueError: All arrays must be of the same length

# Q.6-Scrape the details of top 100 songs on billiboard.com.                               Url = https:/www.billboard.com
You have to find the following details:

A) Song name

B) Artist name
C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [12]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get("https:/www.billboard.com/")
driver.maximize_window()

time.sleep(2)
#getting the Hot 100 page
hot100=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[3]/div/nav/ul/li[1]/a')
hot100.click()

time.sleep(2)
#creating the empty list
song=[]
name=[]
lastweek=[]
peak=[]
week=[]
time.sleep(1)

#scraping for song name
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3'):
    song.append(i.text)

#scraping for name of the artist
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[1]/span'):
    name.append(i.text)
    
#scraping for last week
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[4]/span'):
    lastweek.append(i.text)
    
#scraping for peak rank
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span'):
    peak.append(i.text)
    
#scraping for Weeks on board
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span'):
    week.append(i.text)
    
#creating the dataframe
Billboard={'Song Name':song,'Artist Name':name,'Last Week Rank':lastweek,'Peak Rank':peak,'Weeks on board':week}
df=pd.DataFrame(data=Billboard)
print('Top 100 songs on Billboard')
df

Top 100 songs on Billboard

Empty DataFrame
Columns: [Song Name, Artist Name, Last Week Rank, Peak Rank, Weeks on board]
Index: []

# Q.7-Scrape the details of Data science recruiters from naukri.com.                  Url = https://www.naukri.com/
You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [13]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.naukri.com/data-science-recruiters')
time.sleep(3)


url_list=[]
url=driver.find_elements(By.XPATH,'/html/body/div[3]/div/div[2]/div/div[2]/div[1]/div[1]/div[1]/div[1]/p/a[1]')

for i in url[:2]:
    url_list.append(i.get_attribute('href'))
time.sleep(20)

name=[]
designation=[]
company=[]
skills=[]
location=[]

for i in url_list:
    driver.get(i)
# scraping recruiter name
rec_name = driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[2]/h1')# xpath for brand
for i in rec_name:
    name.append(i.text) # saving in the list 

#scrapping recruiter designation
rec_designation = driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[3]')# xpath for brand
for i in rec_designation:
    designation.append(i.text) # saving in the list 

#scrapping company name
company_name = driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[4]')# xpath for brand
for i in company_name:
    company.append(i.text) # saving in the list 
        
#scraping the recruiter location
    try:
        rec_location = driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[5]') # xpath for description
        location.append(i.text)# saving in the list
    except NoSuchElementException:
        location.append("-")

#scraping the price of the sunglasses
rec_skills = driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div[1]/p[1]')# xpath for price
for i in rec_skills:
        skills.append(i.text)# saving in the list
time.sleep(5)

# saving the lists as dataframe
df=pd.DataFrame({"Recruiter Name":name[:50],"Designation":designation[:50],"Company Name":company[:50],"Location":location[:50],"Skills they Hire for":skills[:50]})
print('Data Science recruiters from Naukri')
df

Data Science recruiters from Naukri

,Recruiter Name,Designation,Company Name,Location,Skills they Hire for
0,Aakash Harit,HR Manager,Data Science Network,Data Science Network,"Classic ASP Developer , Internet Marketing Pro..."

# Q-8.Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [14]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver.maximize_window()

time.sleep(2)

In [15]:
#creating the empty list
name=[]
author=[]
volume=[]
publisher=[]
genre=[]

#scraping for name
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]"):
    name.append(i.text)

#scraping for author
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]"):
    author.append(i.text)

#scraping for volume
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]"):
    volume.append(i.text)

#scraping for publisher
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]"):
    publisher.append(i.text)

#scraping for genre
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]"):
    genre.append(i.text)
    
#creating the Dataframe
novels={'Book Name':name,'Author Name':author,'Volumes sold':volume,'Publisher':publisher,'Genre':genre}
df=pd.DataFrame(data=novels)
print('Highest selling Novels')
df

Highest selling Novels

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q-9.Scrape the details most watched tv series of all time from imdb.com.            Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [16]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window()

time.sleep(2)

In [17]:
#creating the empty list
name=[]
year=[]
genre=[]
runtime=[]
rating=[]
votes=[]

#scraping name of the series
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    name.append(i.text)
#scraping year    
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    year.append(i.text)
#scraping genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    genre.append(i.text)
#scrapping runtime    
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    runtime.append(i.text)
#scraping rating
for i in driver.find_elements(By.XPATH,"//*[@id='main']/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]"):
    rating.append(i.text)
#scraping votes
for i in driver.find_elements(By.XPATH,"//span[@name='nv']"):
    votes.append(i.text)

#creating the dataframe
imdb={'Name':name,'Year Span':year,'Genre':genre,'Run time':runtime,'Ratings':rating,'Votes':votes}
df=pd.DataFrame(data=imdb)
print ('Most watched TV Series of all time from IMDB.COM')
df

Most watched TV Series of all time from IMDB.COM

,Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,061,758"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,155,251"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"972,494"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"289,935"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,354"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,695"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,752"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"195,544"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,156"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"238,198"

# Q-10.Details of Datasets from UCI machine learning repositories.                  Url = https://archive.ics.uci.edu/
You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [18]:
#Lets first connect ro webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Opening target url page on automated chrome browser
driver.get('https://archive.ics.uci.edu/')
driver.maximize_window()

time.sleep(2)

In [19]:
#clicking on vew all dataset
dataset=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
driver.get(dataset.get_attribute('href'))

#creating the empty list
name=[]
datatype=[]
task=[]
attribute=[]
instances=[]
no_attribute=[]
year=[]

time.sleep(2)
#scraping dataset name
for i in driver.find_elements(By.XPATH,"//tr['@bgcolor=#003366']/td/table/tbody/tr/td[2]/p/b/a"):
    name.append(i.text)
#scraping datatype
for i in driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[2]/p"):
    datatype.append(i.text)
datatype=datatype[1:]
#scraping task
for i in driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[3]/p"):
    task.append(i.text)
task=task[1:]
#scraping attribute
for i in driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[4]/p"):
    attribute.append(i.text)
attribute=attribute[1:]
#scraping instances
for i in driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[5]/p"):
    instances.append(i.text)
instances=instances[1:]
#scraping attributes
for i in driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[6]/p"):
    no_attribute.append(i.text)
no_attribute=no_attribute[1:]
#scraping year
for i in driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[7]/p"):
    year.append(i.text)
year=year[1:]

#creating the dataset
uci={'Dataset Name':name,'Data Type':datatype,'Task':task,'Attribute Type':attribute,
    'No of Instances':instances,'No of Attribue':no_attribute,'Year':year}
df=pd.DataFrame(data=uci)
print('Details of datasets from UCI Machine Learning repositories')
df

Details of datasets from UCI Machine Learning repositories

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribue,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [20]:
driver.close()