# -------------------------------WEBSCRAPPING ASSIGNMENT-1--------------------------------

                                                                             Submission Date : 1st September 2022

# Q1.Python program to display all the header tags from wikipedia.org

# Scrapping as follows :

In [1]:
from  bs4 import BeautifulSoup
import  requests

url = "https://en.wikipedia.org/wiki/Main_Page"

page = requests.get(url)
page
content=BeautifulSoup(page.content)
content

Header = []

for header in content.find_all(["h1", "h2", "h3", "h4","h5", "h6"]):
    Header.append(header.name+" "+header.text.strip())
Header

['h1 Main Page',
 'h1 Welcome to Wikipedia',
 "h2 From today's featured article",
 'h2 Did you know\xa0...',
 'h2 In the news',
 'h2 On this day',
 "h2 Today's featured picture",
 'h2 Other areas of Wikipedia',
 "h2 Wikipedia's sister projects",
 'h2 Wikipedia languages',
 'h2 Navigation menu',
 'h3 Personal tools',
 'h3 Namespaces',
 'h3 Views',
 'h3 Search',
 'h3 Navigation',
 'h3 Contribute',
 'h3 Tools',
 'h3 Print/export',
 'h3 In other projects',
 'h3 Languages']

# Q2.Python program to display IMDB’s Top rated 100 movies’ data

Scrapping Name, Rating, Year of Release and its data frame

# Scrapping as follows :

In [2]:
!pip install requests
import requests

topics_url = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
response = requests.get(topics_url)

page_content = response.text
page_content

!pip install beautifulsoup4
from bs4 import BeautifulSoup

doc = BeautifulSoup(response.text, 'html.parser')
doc.find('title')

import requests
from bs4 import BeautifulSoup

def get_topics_page():
    topic_url = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
    response=requests.get(topic_url)
    
    if response.status_code != 200:
        raise Exception(f'Failed to load page {topic_url}')
    
    doc = BeautifulSoup(response.text, 'html.parser')
    return doc

doc=get_topics_page()

def get_movie_titles(doc):
    
    selection_class="lister-item-header"
    movie_title_tags=doc.find_all('h3',{'class':selection_class})
    movie_titles=[]

    for tag in movie_title_tags:
        title = tag.find('a').text
        movie_titles.append(title)
          
    return movie_titles
titles = get_movie_titles(doc)

titles[:100]

def get_movie_year(doc):
    year_selector = "lister-item-year text-muted unbold"           
    movie_year_tags=doc.find_all('span',{'class':year_selector})
    movie_year_tagss=[]
    for tag in movie_year_tags:
        movie_year_tagss.append(tag.get_text().strip()[1:100])
    return movie_year_tagss

years = get_movie_year(doc)
years[:100]

def get_movie_rating(doc):
    rating_selector="inline-block ratings-imdb-rating"            
    movie_rating_tags=doc.find_all('div',{'class':rating_selector})
    movie_rating_tagss=[]
    for tag in movie_rating_tags:
        movie_rating_tagss.append(tag.get_text().strip())
    return movie_rating_tagss

ratings = get_movie_rating(doc)
ratings[:100]

import pandas as pd

def all_pages():

    movies_dict={'title':[],'year':[],'rating':[]}
  
    for i in range(1,2000,100):
       
        try:
            url = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
            response = requests.get(url)
        except:
            break
        
        if response.status_code != 200:
            break
           

        doc = BeautifulSoup(response.text, 'html.parser')
        titles = get_movie_titles(doc)
        years = get_movie_year(doc)
        ratings = get_movie_rating(doc)
    
        for i in range(len(titles)):
            movies_dict['title'].append(titles[i])
            movies_dict['year'].append(years[i])
            movies_dict['rating'].append(ratings[i])
        
    return pd.DataFrame(movies_dict)

movies_dict = {'Title':titles,'Year':years,'Rating':ratings,}

df = pd.DataFrame(movies_dict)
df
df[:100]

Requirement already satisfied: requests in c:\users\clickmoney\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: beautifulsoup4 in c:\users\clickmoney\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\clickmoney\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)

                                                Title   Year Rating
0                            The Shawshank Redemption  1994)    9.3
1                                       The Godfather  1972)    9.2
2                                     The Dark Knight  2008)    9.0
3       The Lord of the Rings: The Return of the King  2003)    9.0
4                                    Schindler's List  1993)    9.0
5                               The Godfather Part II  1974)    9.0
6                                        12 Angry Men  1957)    9.0
7                                        Pulp Fiction  1994)    8.9
8                                           Inception  2010)    8.8
9               The Lord of the Rings: The Two Towers  2002)    8.8
10                                         Fight Club  1999)    8.8
11  The Lord of the Rings: The Fellowship of the Ring  2001)    8.8
12                                       Forrest Gump  1994)    8.8
13                    Il buono, il brutto, il cattivo  1966)    8.8
14                                         The Matrix  1999)    8.7
15                                         Goodfellas  1990)    8.7
16                            The Empire Strikes Back  1980)    8.7
17                    One Flew Over the Cuckoo's Nest  1975)    8.7
18                                       Interstellar  2014)    8.6
19                                     Cidade de Deus  2002)    8.6
20                      Sen to Chihiro no kamikakushi  2001)    8.6
21                                Saving Private Ryan  1998)    8.6
22                                     The Green Mile  1999)    8.6
23                                    La vita è bella  1997)    8.6
24                                              Se7en  1995)    8.6
25                         Terminator 2: Judgment Day  1991)    8.6
26                           The Silence of the Lambs  1991)    8.6
27                                          Star Wars  1977)    8.6
28                                            Seppuku  1962)    8.6
29                               Shichinin no samurai  1954)    8.6
30                              It's a Wonderful Life  1946)    8.6
31                                       Gisaengchung  2019)    8.5
32                                           Whiplash  2014)    8.5
33                                  Top Gun: Maverick  2022)    8.5
34                                   The Intouchables  2011)    8.5
35                                       The Prestige  2006)    8.5
36                                       The Departed  2006)    8.5
37                                        The Pianist  2002)    8.5
38                                          Gladiator  2000)    8.5
39                                 American History X  1998)    8.5
40                                 The Usual Suspects  1995)    8.5
41                                               Léon  1994)    8.5
42                                      The Lion King  1994)    8.5
43                              Nuovo Cinema Paradiso  1988)    8.5
44                                     Hotaru no haka  1988)    8.5
45                                 Back to the Future  1985)    8.5
46                                     Apocalypse Now  1979)    8.5
47                                              Alien  1979)    8.5
48                       Once Upon a Time in the West  1968)    8.5
49                                             Psycho  1960)    8.5

# 3.Python program to display IMDB’s Top rated 100 Indian movies’ data 
Scrapping Name, Rating, Year of Release and its make data frame

# Scrapping as follows :

In [3]:
!pip install requests
import requests

topics_url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(topics_url)

page_content = response.text
page_content

!pip install beautifulsoup4
from bs4 import BeautifulSoup

doc = BeautifulSoup(response.text, 'html.parser')
doc.find('title')

import requests
from bs4 import BeautifulSoup

def get_topics_page():
    topic_url = 'https://www.imdb.com/india/top-rated-indian-movies/'
    response=requests.get(topic_url)
    
    if response.status_code != 200:
        raise Exception(f'Failed to load page {topic_url}')
    
    doc = BeautifulSoup(response.text, 'html.parser')
    return doc

doc=get_topics_page()

def get_movie_titles(doc):
    
    selection_class="titleColumn"
    movie_title_tags=doc.find_all('td',{'class':selection_class})
    movie_titles=[]

    for tag in movie_title_tags:
        title = tag.find('a').text
        movie_titles.append(title)   
        
    return movie_titles

titles = get_movie_titles(doc)
titles[:100]

def get_movie_year(doc):
    year_selector = "secondaryInfo"           
    movie_year_tags=doc.find_all('span',{'class':year_selector})
    movie_year_tagss=[]
    for tag in movie_year_tags:
        movie_year_tagss.append(tag.get_text().strip()[1:100])
    return movie_year_tagss

years = get_movie_year(doc)
years[:100]

def get_movie_rating(doc):
    rating_selector="ratingColumn imdbRating"         
    movie_rating_tags=doc.find_all('td',{'class':rating_selector})
    movie_rating_tagss=[]
    for tag in movie_rating_tags:
        movie_rating_tagss.append(tag.get_text().strip())
    return movie_rating_tagss
ratings = get_movie_rating(doc)
ratings[:100]

import pandas as pd

def all_pages():

    movies_dict={'title':[],'year':[],'rating':[]}
  
    for i in range(1,2000,100):
       
        try:
            url = 'https://www.imdb.com/india/top-rated-indian-movies/'
            response = requests.get(url)
        except:
            break
        
        if response.status_code != 200:
            break
           

        doc = BeautifulSoup(response.text, 'html.parser')
        titles = get_movie_titles(doc)
        years = get_movie_year(doc)
        ratings = get_movie_rating(doc)
    
        for i in range(len(titles)):
            movies_dict['title'].append(titles[i])
            movies_dict['year'].append(years[i])
            movies_dict['rating'].append(ratings[i])
        
    return pd.DataFrame(movies_dict)
movies_dict = {'Movie Title':titles,'Year':years,'Rating':ratings}
df = pd.DataFrame(movies_dict)
df
df[:100]

Requirement already satisfied: requests in c:\users\clickmoney\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: beautifulsoup4 in c:\users\clickmoney\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\clickmoney\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)

                    Movie Title   Year Rating
0    Rocketry: The Nambi Effect  2022)    8.5
1                    Anbe Sivam  2003)    8.4
2                       Golmaal  1979)    8.4
3                       Nayakan  1987)    8.4
4                      Jai Bhim  2021)    8.4
..                          ...    ...    ...
95                       Angoor  1982)    8.0
96              Rang De Basanti  2006)    8.0
97  Baahubali 2: The Conclusion  2017)    8.0
98                       Baasha  1995)    8.0
99                    Virumandi  2004)    8.0

[100 rows x 3 columns]

# Q4.Python program to display list of respected former presidents of India
1)Name of the President

2)Term of office from https://presidentofindia.nic.in/former-presidents.htm

# Scrapping as follows :

In [4]:
!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests
import pandas as pd

prpage = requests.get("https://presidentofindia.nic.in/former-presidents.htm")
prpage

soup=BeautifulSoup(prpage.content)
prlist =soup.find_all('div',class_="presidentListing")

Name =[]
office =[]
for content in prlist:
    president = content.h3.text
    Name.append(president)
    term=content.p.text.replace('Term of Office:','')
    office.append(term)
president = pd.DataFrame(list(zip(Name,office)),columns=['Presidents_name','Term_of_Office'])
president

Requirement already satisfied: bs4 in c:\users\clickmoney\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\clickmoney\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\clickmoney\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\clickmoney\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2.0.4)

,Presidents_name,Term_of_Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

# Q5.Python program to scrape cricket rankings from icc-cricket.com.

Scrape the following

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating

# Scraping as follows :
    
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page = requests.get(url)

soup10 = BeautifulSoup(page.content)

team = soup10.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
matches = [] 
points = [] 
ratings = [] 
final_list = []

for i in soup10.find_all("td",class_='rankings-block__banner--matches'): 
    matches.append(i.text)
    
for i in soup10.find_all("td",class_='rankings-block__banner--points'):
    points.append(i.text)
    
for i in soup10.find_all("td",class_='rankings-block__banner--rating u-text-right'):
    ratings.append(i.text.replace("\n",""))
    
for i in soup10.find_all("td",class_='table-body__cell u-center-text'):
    final_list.append(i.text)
    
for i in range(0,len(final_list)-1,2):
    matches.append(final_list[i]) 
    points.append(final_list[i+1])
for i in soup10.find_all("td",class_='table-body__cell u-text-right rating'):
    ratings.append(i.text)
    
data = list(zip(team_name,matches,points,ratings))
df = pd.DataFrame(data,columns=["Team_name","Matches","Points","Ratings"])
df 
df[:10]

,Team_name,Matches,Points,Ratings
0,New Zealand,19,"2,355",124 ...
1,England,27,"3,226",119
2,India,31,"3,447",111
3,Pakistan,22,"2,354",107
4,Australia,25,"2,548",102
5,South Africa,21,"2,111",101
6,Bangladesh,30,"2,753",92
7,Sri Lanka,29,"2,658",92
8,West Indies,41,"2,902",71
9,Afghanistan,18,"1,238",69

b) Top 10 ODI Batsmen along with the records of their team and rating.

# Scrapping as follows :

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [6]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
page = requests.get(url)

soup11 = BeautifulSoup(page.content)
batsmen = [] 
team_name = [] 
rating = [] 

for i in soup11.find_all("div",class_='rankings-block__banner--name-large'): 
    batsmen.append(i.text)
for i in soup11.find_all("div",class_='rankings-block__banner--nationality'): 
    team_name.append(i.text.replace("\n",""))
for i in soup11.find_all("div",class_='rankings-block__banner--rating'): 
    rating.append(i.text)
for i in soup11.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        batsmen.append(j.text)
for i in soup11.find_all("span",class_='table-body__logo-text'): 
    team_name.append(i.text)
for i in soup11.find_all("td",class_='table-body__cell rating'): 
    rating.append(i.text)

data = list(zip(batsmen,team_name,rating))
df = pd.DataFrame(data,columns=["Batsmen","Team_name","Rating"])
df
df[:10]

                 Batsmen                Team_name Rating
0             Babar Azam  PAK                        890
1  Rassie van der Dussen                       SA    789
2        Quinton de Kock                       SA    784
3            Imam-ul-Haq                      PAK    779
4            Virat Kohli                      IND    744
5           Rohit Sharma                      IND    740
6           David Warner                      AUS    739
7         Jonny Bairstow                      ENG    732
8            Ross Taylor                       NZ    722
9            Aaron Finch                      AUS    706

# Scrapping as follows :

c) Top 10 ODI bowlers along with the records of their team and rating.

In [7]:
from bs4 import BeautifulSoup
import requests
import pandas as pd


url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
page = requests.get(url)

soup12 = BeautifulSoup(page.content)

bowler = [] 
team_name = [] 
rating = [] 

for i in soup12.find_all("div",class_='rankings-block__banner--name-large'): 
    bowler.append(i.text)
for i in soup12.find_all("div",class_='rankings-block__banner--nationality'): 
    team_name.append(i.text.replace("\n",""))
for i in soup12.find_all("div",class_='rankings-block__banner--rating'): 
    rating.append(i.text)
for i in soup12.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        bowler.append(j.text)
for i in soup12.find_all("span",class_='table-body__logo-text'): 
    team_name.append(i.text)
for i in soup12.find_all("td",class_='table-body__cell rating'): 
    rating.append(i.text)

data = list(zip(bowler,team_name,rating))
df = pd.DataFrame(data,columns=["Bowler","Team_name","Rating"])
df[:10]

              Bowler               Team_name Rating
0        Trent Boult  NZ                        720
1     Josh Hazlewood                     AUS    678
2   Mujeeb Ur Rahman                     AFG    676
3     Jasprit Bumrah                     IND    662
4     Shaheen Afridi                     PAK    661
5      Mohammad Nabi                     AFG    657
6       Mehedi Hasan                     BAN    655
7        Rashid Khan                     AFG    651
8         Matt Henry                      NZ    644
9  Mustafizur Rahman                     BAN    640

# Q6.Python program to scrape cricket rankings from icc-cricket.com

Scrape

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

c) Top 10 women’s ODI all-rounder along with the records of their team and rating

# Scrapping as follows :

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [8]:
from bs4 import BeautifulSoup
import requests
import pandas as pd


url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page = requests.get(url)
soup14 = BeautifulSoup(page.content)
womens_team = soup14.find_all("span",class_='u-hide-phablet')
womens_team_name = []
for i in womens_team:
    womens_team_name.append(i.text)
womens_matches = [] 
womens_points = [] 
womens_ratings = [] 
womens_final_list = [] 
for i in soup14.find_all("td",class_='rankings-block__banner--matches'): 
    womens_matches.append(i.text)
for i in soup14.find_all("td",class_='rankings-block__banner--points'):
    womens_points.append(i.text)
for i in soup14.find_all("td",class_='rankings-block__banner--rating u-text-right'):
    womens_ratings.append(i.text.replace("\n",""))
for i in soup14.find_all("td",class_='table-body__cell u-center-text'):
    womens_final_list.append(i.text)
for i in range(0,len(womens_final_list)-1,2):
    womens_matches.append(womens_final_list[i]) 
    womens_points.append(womens_final_list[i+1]) 
for i in soup14.find_all("td",class_='table-body__cell u-text-right rating'):
    womens_ratings.append(i.text)


data = list(zip(womens_team_name,womens_matches,womens_points,womens_ratings))
df = pd.DataFrame(data,columns=["Team_name","Matches","Points","Ratings"])
df
df[:10]

,Team_name,Matches,Points,Ratings
0,Australia,29,"4,837",167 ...
1,England,33,"4,046",123
2,South Africa,35,"4,157",119
3,India,32,"3,219",101
4,New Zealand,31,"3,019",97
5,West Indies,30,"2,768",92
6,Bangladesh,12,930,78
7,Pakistan,30,"1,962",65
8,Ireland,11,516,47
9,Sri Lanka,11,495,45

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

# Scrapping as follows :

In [9]:
from bs4 import BeautifulSoup
import requests
import pandas as pd


url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
page = requests.get(url)
soup15 = BeautifulSoup(page.content)
players = [] 
team_name = [] 
rating = [] 

for i in soup15.find_all("div",class_='rankings-block__banner--name-large'): 
    players.append(i.text)
for i in soup15.find_all("div",class_='rankings-block__banner--nationality'):
    team_name.append(i.text.replace("\n",""))
for i in soup15.find_all("div",class_='rankings-block__banner--rating'): 
    rating.append(i.text)
for i in soup15.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup15.find_all("span",class_='table-body__logo-text'): 
    team_name.append(i.text)
for i in soup15.find_all("td",class_='table-body__cell rating'): 
    rating.append(i.text)

top_players=pd.DataFrame({})
top_players['Batting_Player']=players[:10]
top_players['Team']=team_name[:10]
top_players['Rating']=rating[:10]
top_players

data = list(zip(players,team_name,rating))
df = pd.DataFrame(data,columns=["Batting_Player","Team_name","Rating"])
df[:10]

        Batting_Player                Team_name Rating
0         Alyssa Healy  AUS                        785
1          Beth Mooney                      AUS    749
2       Natalie Sciver                      ENG    747
3      Laura Wolvaardt                       SA    732
4          Meg Lanning                      AUS    710
5       Rachael Haynes                      AUS    701
6    Amy Satterthwaite                       NZ    681
7       Tammy Beaumont                      ENG    667
8  Chamari Athapaththu                       SL    655
9      Smriti Mandhana                      IND    649

c) Top 10 women’s ODI all-rounder along with the records of their team and rating

# Scrapping as follows :

In [10]:
from bs4 import BeautifulSoup
import requests
import pandas as pd


url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
page = requests.get(url)
soup16 = BeautifulSoup(page.content)
players = [] 
team_name = []   
rating = []  

for i in soup16.find_all("div",class_='rankings-block__banner--name-large'): 
    players.append(i.text)
for i in soup16.find_all("div",class_='rankings-block__banner--nationality'): 
    team_name.append(i.text.replace("\n",""))
for i in soup16.find_all("div",class_='rankings-block__banner--rating'): 
    rating.append(i.text)
for i in soup16.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup16.find_all("span",class_='table-body__logo-text'): 
    team_name.append(i.text)
for i in soup16.find_all("td",class_='table-body__cell rating'): 
    rating.append(i.text)

all_rounder=pd.DataFrame({})
all_rounder['All_Rounder']=players[:10]
all_rounder['Team']=team_name[:10]
all_rounder['Rating']=rating[:10]
all_rounder

data = list(zip(players,team_name,rating))
df = pd.DataFrame(data,columns=["All_Rounder","Team_name","Rating"])
df
df[:10]

        All_Rounder                Team_name Rating
0    Natalie Sciver  ENG                        379
1      Ellyse Perry                      AUS    374
2    Marizanne Kapp                       SA    349
3   Hayley Matthews                       WI    339
4       Amelia Kerr                       NZ    336
5  Ashleigh Gardner                      AUS    270
6     Deepti Sharma                      IND    252
7     Jess Jonassen                      AUS    246
8   Katherine Brunt                      ENG    220
9   Stafanie Taylor                       WI    207

# Q7.Python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world

i) Headline

ii) Time

iii) News Link

# Scrapping as follows :

In [11]:
!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://www.cnbc.com/world/?region=world")
page

soup=BeautifulSoup(page.content)
soup

Headline = []

Headline = soup.find('a', class_="LatestNews-headline")
for i in soup.find_all('a', class_="LatestNews-headline"):
    Headline.append(i.text)

Time = []
Time = soup.find('time', class_="LatestNews-timestamp")
for i in soup.find_all('time', class_="LatestNews-timestamp"):
    Time.append(i.text)
    
News_link = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    News_link.append(i['href'])

data = list(zip(Headline,Time,News_link))
df = pd.DataFrame(data,columns=["Headline","Time","News_link"])
df

Requirement already satisfied: bs4 in c:\users\clickmoney\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\clickmoney\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\clickmoney\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\clickmoney\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2.0.4)

,Headline,Time,News_link
0,This portrait of Warren Buffett just sold for ...,51 Min Ago,https://www.cnbc.com/2022/08/31/warren-buffett...
1,This portrait of Warren Buffett just sold for ...,51 Min Ago,https://www.cnbc.com/2022/08/31/microstrategy-...
2,Microstrategy chairman Michael Saylor accused ...,1 Hour Ago,https://www.cnbc.com/2022/08/31/were-making-a-...
3,We're making a buy in this down market but als...,1 Hour Ago,https://www.cnbc.com/2022/08/31/bernsteins-tra...
4,Bernstein's trading strategy for internet stoc...,1 Hour Ago,https://www.cnbc.com/2022/08/31/despite-recess...
5,"Despite recession fears, most 401(k) investors...",2 Hours Ago,https://www.cnbc.com/2022/08/31/trump-lawyer-j...
6,Trump lawyer Eastman takes Fifth before Georgi...,2 Hours Ago,https://www.cnbc.com/2022/08/31/these-stocks-a...
7,These stocks are underappreciated beneficiarie...,2 Hours Ago,https://www.cnbc.com/2022/08/31/jeff-bezos-son...
8,Jeff Bezos reveals warning from his son for Am...,2 Hours Ago,https://www.cnbc.com/2022/08/31/identity-crime...
9,Identity scams are at an all-time high. Here a...,2 Hours Ago,https://www.cnbc.com/2022/08/31/these-bank-fee...
10,These bank fees could be taking a bite out of ...,2 Hours Ago,https://www.cnbc.com/2022/08/31/irs-is-not-hir...
11,The IRS isn't hiring an 'army' of auditors—her...,2 Hours Ago,https://www.cnbc.com/2022/08/31/44percent-of-a...
12,Six in 10 adults want to become a billionaire ...,3 Hours Ago,https://www.cnbc.com/2022/08/31/market-headwin...
13,Market headwinds could worsen as stocks enter ...,3 Hours Ago,https://www.cnbc.com/2022/08/31/walmart-sams-c...
14,Walmart-owned Sam's Club raises annual members...,3 Hours Ago,https://www.cnbc.com/2022/08/31/nobody-wants-t...
15,Nobody wants to get ahead of September's parad...,4 Hours Ago,https://www.cnbc.com/2022/08/31/stocks-making-...
16,Stocks making the biggest moves midday: Expres...,4 Hours Ago,https://www.cnbc.com/2022/08/31/these-kinds-of...
17,These kinds of stocks do well when recession f...,4 Hours Ago,https://www.cnbc.com/2022/08/31/8-new-shows-co...
18,"8 new shows streaming on Amazon, Disney+, Netf...",4 Hours Ago,https://www.cnbc.com/2022/08/31/florida-gov-ro...
19,Florida Gov. Ron DeSantis rival Charlie Crist ...,4 Hours Ago,https://www.cnbc.com/2022/08/31/3-takeaways-fr...
20,3 takeaways from the Investing Club’s ‘Morning...,4 Hours Ago,https://www.cnbc.com/2022/08/31/stricter-stand...
21,"Stricter standards needed for carbon offsets, ...",4 Hours Ago,https://www.cnbc.com/2022/08/31/were-adding-to...
22,We're adding to two stocks in an oversold mark...,4 Hours Ago,https://www.cnbc.com/2022/08/31/small-investor...
23,"Small investors embraced market rally, Wall St...",5 Hours Ago,https://www.cnbc.com/2022/08/31/global-bonds-t...
24,Global bonds teeter near bear market as centra...,5 Hours Ago,https://www.cnbc.com/2022/08/31/jeffrey-gundla...
25,Gundlach says yield curve inversions are 'reli...,6 Hours Ago,https://www.cnbc.com/2022/08/31/fda-authorizes...
26,FDA authorizes Covid booster shots that target...,7 Hours Ago,https://www.cnbc.com/2022/08/31/most-affordabl...
27,The 7 most affordable U.S. states to retire—an...,7 Hours Ago,https://www.cnbc.com/2022/08/31/avoid-these-re...
28,"'Avoid these 2 resume words at all costs,' say...",7 Hours Ago,https://www.cnbc.com/2022/08/31/klarna-losses-...
29,Fintech firm Klarna's losses triple after aggr...,7 Hours Ago,https://www.cnbc.com/2022/08/31/mcdonalds-us-h...

# Q8.Python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
    
Scrape below mentioned details :

i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

# Scrapping as follows :

In [12]:
!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
soup=BeautifulSoup(page.content)
titles = []
paper_titles = soup.find('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR")
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    paper_titles.append(i.text)

authors = []
authors_names = soup.find('span',class_="sc-1w3fpd7-0 pgLAT")
for i in soup.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    authors_names.append(i.text)

published_date =[]
published_date = soup.find('span',class_="sc-1thf9ly-2 bKddwo")
for i in soup.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    published_date.append(i.text)

paper_url = []

for i in soup.find_all('a',class_="sc-5smygv-0 nrDZj"):
    paper_url.append(i['href'])

data = list(zip(paper_titles,authors_names,published_date,paper_url))
df = pd.DataFrame(data,columns=["Paper_titles","Authors_names","Published_date","Paper_url"])
df

Requirement already satisfied: bs4 in c:\users\clickmoney\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\clickmoney\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\clickmoney\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\clickmoney\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (3.2)

,Paper_titles,Authors_names,Published_date,Paper_url
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",[October 2021],https://www.sciencedirect.com/science/article/...
1,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
2,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
3,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
4,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
5,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
6,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
7,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
8,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
9,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
10,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
11,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
12,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
13,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
14,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
15,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
16,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
17,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
19,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
20,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
21,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
22,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
23,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
24,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...

# Q9.Python program to scrape mentioned details from dineout.co.in

i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image URL

# Scrapping as follows :

In [13]:
!pip install requests
!pip install html5lib
!pip install bs4

from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://www.dineout.co.in/hyderabad-restaurants?loc=Hyderabad")
soup=BeautifulSoup(page.content)

restaurant_name = []
for i in soup.find_all('a', class_="restnt-name ellipsis"):
    restaurant_name.append(i.text)
    
location =[]
for i in soup.find_all('div', class_="restnt-loc ellipsis"):
    location.append(i.text)    

cuisine = []
for i in soup.find_all('span', class_="double-line-ellipsis"):
    cuisine.append(i.text)

ratings = []
for i in soup.find_all('div', class_="restnt-rating rating-4"):
    ratings.append(i.text)
    
url = []
for i in soup.find_all('img', class_='no-img'):
    url.append(i['data-src'])
    
data = list(zip(restaurant_name,location,cuisine,ratings))
df = pd.DataFrame(data,columns=["Restaurant","Location","Cuisine","Ratings"])
df

Requirement already satisfied: requests in c:\users\clickmoney\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: html5lib in c:\users\clickmoney\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\clickmoney\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\clickmoney\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: bs4 in c:\users\clickmoney\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\clickmoney\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\clickmoney\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)

,Restaurant,Location,Cuisine,Ratings
0,Signature Grills,"Necklace Road, Secunderabad","₹ 1,500 for 2 (approx) | North Indian, Chinese...",4.1
1,Ohri's Jiva,"White House,Begumpet, Secunderabad","₹ 1,200 for 2 (approx) | North Indian, Chinese...",4
2,Headquarters,"Somajiguda, Central East Hyderabad","₹ 1,700 for 2 (approx) | Chinese, Continental,...",4.1
3,Jalpaan,"Oasis Centre,Begumpet, Secunderabad","₹ 1,200 for 2 (approx) | North Indian, Chinese...",4
4,Krishnapatnam,"Shreshta Aura,Jubilee Hills, Central West Hyde...","₹ 1,800 for 2 (approx) | Andhra, South Indian,...",3.9
5,7 Sisters,"Banjara Hills, Central East Hyderabad","₹ 500 for 2 (approx) | Japanese, Asian",4.4
6,Exotica,"12th Square Building,Banjara Hills, Central Ea...","₹ 1,500 for 2 (approx) | North Indian, Chinese...",4.4
7,Amogham - The Lake View Restaurant,"Khairatabad, Central Hyderabad","₹ 1,000 for 2 (approx) | Chinese, North Indian...",3.8
8,10 Downing Street,"Lifestyle Building,Begumpet, Secunderabad","₹ 2,000 for 2 (approx) | Finger Food, Chinese,...",4.3
9,ABs - Absolute Barbecues,"Banjara Hills, Central East Hyderabad","₹ 1,400 for 2 (approx) | North Indian, Contine...",4.3
10,Pakka Local Signature,"Banjara Hills, Central East Hyderabad","₹ 1,200 for 2 (approx) | Andhra, North Indian,...",4.3
11,Barbeque Nation,"ANR Center,Banjara Hills, Central East Hyderabad","₹ 2,000 for 2 (approx) | North Indian, Chinese",4.2
12,Ohri's Gufaa,"Basheerbagh, Central Hyderabad","₹ 1,200 for 2 (approx) | North Indian, Awadhi",4
13,By The Bay - Bar Exchange,"Khairatabad, Central Hyderabad","₹ 1,900 for 2 (approx) | North Indian, Contine...",4.1
14,Journey 1853 - An Ode To Sahib Sindh Sultan,"City Centre Mall,Banjara Hills, Central East H...","₹ 1,400 for 2 (approx) | North Indian, Mughlai",4.1
15,Bikanervala,"Banjara Hills, Central East Hyderabad","₹ 1,300 for 2 (approx) | North Indian, Street ...",4.2
16,A'La Liberty,"Leela Gopal Towers,Banjara Hills, Central East...","₹ 1,000 for 2 (approx) | North Indian, Chinese...",4
17,Parampara - Flavours of india,"ANR Center,Banjara Hills, Central East Hyderabad","₹ 1,000 for 2 (approx) | Chinese, North Indian",4
18,Verandah,"The Park,Somajiguda, Central East Hyderabad","₹ 3,300 for 2 (approx) | Chinese, North Indian...",3.9
19,Kismet,"The Park,Somajiguda, Central East Hyderabad","₹ 3,000 for 2 (approx) | Finger Food",4
20,Up & Above,"SNS Arcade,PG Road, Secunderabad","₹ 1,500 for 2 (approx) | North Indian, Chinese...",4

# Q10.Python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
    
i) Rank

ii) Publication

iii) h5-index

iv) h5-median

# Scrapping as follows :

In [14]:
!pip install bs4
!pip install requests
!pip install html5

from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
soup=BeautifulSoup(page.content)
Rank = []
Rank = soup.find('td', class_="gsc_mvt_p")
for i in soup.find_all('td', class_="gsc_mvt_p"):
    Rank.append(i.text)
    
Publication = []
Publication = soup.find('td', class_="gsc_mvt_t")
for i in soup.find_all('td', class_="gsc_mvt_t"):
    Publication.append(i.text)
    
h5_index=[]
h5_index= soup.find('td', class_="gsc_mvt_n")
for i in soup.find_all('td', class_="gsc_mvt_n"):
    h5_index.append(i.text)
    
h5_median =[]
h5_median = soup.find('span', class_="gs_ibl gsc_mp_anchor")
for i in soup.find_all('span', class_="gs_ibl gsc_mp_anchor"):
    h5_median.append(i.text)

data = list(zip(Rank,Publication,h5_index,h5_median))
df = pd.DataFrame(data,columns=["Rank","Publication","h5_index","h5_median"])
df

Requirement already satisfied: bs4 in c:\users\clickmoney\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\clickmoney\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\clickmoney\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\clickmoney\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\clickmoney\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: html5 in c:\users\clickmoney\anaconda3\lib\site-packages (0.0.9)
Requirement already satisfied: setuptools>=18.5 in c:\users\clickmoney\anaconda3\lib\site-packages (from html5) (58.0.4)
Requirement already satisfied: webencodings in c:\users\clickmoney\anaconda3\lib\site-packages (from html5) (0.5.1)
Requirement already satisfied: six in c:\users\clickmoney\anaconda3\lib\site-packages (from html5) (1.16.0)

,Rank,Publication,h5_index,h5_median
0,1.,Nature,[444],667
1,1.,Nature,444,667
2,2.,The New England Journal of Medicine,667,780
3,3.,Science,432,614
4,4.,IEEE/CVF Conference on Computer Vision and Pat...,780,627
...,...,...,...,...
96,96.,Journal of Business Research,296,233
97,97.,Molecular Cancer,173,209
98,98.,Sensors,228,201
99,99.,Nature Climate Change,173,228
100,100.,IEEE Internet of Things Journal,217,212

# --------------------------END OF WEBSCRAPPING ASSIGNMENT -1--------------------------